.menu-button {
  display: none;
}

.menu-desktop {
  display: flex;
}

.menu-drawer .ant-menu {
  border-right: 0;
}

@media (max-width: 768px) {
  .menu-button {
    display: inline-block !important;
  }

  .menu-desktop {
    display: none !important;
  }
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  margin: 0;
  min-height: 280px;
  max-width: 1200px; /* Maximum width for better responsiveness */
  margin: 0 auto; /* Center the layout */
  overflow-x: auto; /* Ensure the content is scrollable horizontally */
}

.ant-table {
  overflow-x: auto;
  width: 100%;
}

.ant-table-cell {
  white-space: nowrap;
}
